body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    }    
 h1{
       font size:50px;
    }
h2{
        font-size:40px;
  }
P{
      color:dimgray;
}
.orange-highlight{
          color:orange;
      }
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width:95%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat:no-repeat;
}
section{
    height:500px;
    bottom-padding:150px;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient( lightsalmon,tomato);
    padding:10px 20px;
    border-radius:10px;
    color:white;
    font-weight:700;
}
.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;
}
.single-experience{
         box-shadow:10px 10px 40px gray;
         border-radius:10px;
         height:70%;
         background-color:white;
}
.Experience-Area{
    background-image:url("Images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice:1;
}
#learner{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align:center;
    font-size:18px;

}